/* LOKASI: src/components/ui/Footer/Footer.scss */
.footer-container {
  padding: 1.5rem 2rem;
  background-color: #333;
  color: #aaa;
  text-align: center;
  margin-top: auto; /* Mendorong footer ke bagian bawah */
}